/* Add this to your CSS file */
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Add this to your CSS file */

.seat {
    margin: 5px; /* Adjust the value as needed */
  }
  
  